/* Folha de estilo para a pagina estilo html */
/* ul#playlistLista{
    margin: 0 auto;
    list-style: none;
}

ul#playlistLista li {
    float: left;
    width: 280px;
    height: 280px;
    margin: 10px;
    border: 5px;
    text-align: center;
}
*/

.EstiloDimensao {
    width: 280px;
    height: 200px;
}
