@import url('https://fonts.googleapis.com/css?family=Audiowide|Oxanium&display=swap');
@import 'estilo.css';

.fontePrincipal {
    font-family: Oxanium;
}

.fonteSecundaria {
    font-family: Audiowide;
}

.corPrimaria {
    color: #FBF5F3;
}

.corSecundaria {
    color:#5E8C61
}

.corTerceira {
    color: #3454D1
}

.corDestaque {
    color: #50C5B7;
}


.PaginaInicial{
    font-size: large;
    background-color: #21242B;
    margin: auto;
    box-shadow: 0px 0px 10px #50C5B7;
    padding: 15px;
    margin: 5px auto auto auto;
    width: 85%;
}

a{
    text-decoration: none;
}

img#logo{
    width: 100px;
}

input#busca{
    width: 80%;
    font-size: large;
    margin-left: 20px;
}

table#MenuOpcoes {
    width: 100%;
    text-align: center;
    margin-top: 15px;
    font-size: larger;
    border-bottom: #50C5B7 1px dotted;
}

table#MenuOpcoes tr td{
    padding-bottom: 10px;
}

table#MenuAlfa {
    width: 100%;
    text-align: center;
    margin-top: 15px;
    border-bottom: #50C5B7 1px dotted;
}

table#MenuAlfa tr td {
    padding-bottom: 10px;
}

div.Janela {
    margin-top: 40px;
}

iframe {
    border: none;
}

div#propaganda {
    background-image: url('../_imagem/bannerpropaganda.jpg');
    height: 100px;
    width: 480px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.DimensaoImagem {
    width: 280px;
    height: 200px;
}


/*Pagina Bem vindo*/

h1#bemvindo{
    text-align: center;
    font-size: xx-large;
}

.textoBemvindo{
    text-align: center;
    font-size: larger;
}
