/* Folha de estilo para a pagina modelorelaciona.html*/

.RelacionaUL {
    margin: 0 auto;
    list-style: none;
}

.RelacionaLi {
    float: left;
    width: 18%;
    text-align: center;
    margin: 5px;
    line-height: 300%;
    padding: 5px;
    font-weight: bold;
    border: 1px #50C5B7 solid;
}


.linhasimples {
  line-height: 0%;
  font-weight: 200;
  margin-top: 0px;
}

.PainelArtista {
  display: inline-block;
  text-align: center;
  width: 20vw;
}

.PainelArtista img {
  width: 300px;
}

.redeSocial {
  font-size: x-large;
  line-height: 0%;
  text-align: center;
}

.PainelAlbuns {
  display: inline-block;
  vertical-align: top;
  width: 75vw;
}

.LimpaULartista {
  margin: 0 auto;
  list-style: none;
}

.TocaArtista {
  width: 75%;
  margin-bottom: 15px;
}

.tocador {
  margin-right: 20px;
}